.pagination {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.nothing {
    width: 300px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
button {
    width: 60px;
    height: 30px;
}
#followers-container{
    width: 400px;
    margin: 0 auto;
}
ul {
    list-style: none;
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
}
.active {
    color: black;
    pointer-events: none;
}
.inactive {
    color: lightgray;
}
.inactive:hover {
    cursor: pointer;
}
h1 {
    text-align: center;
}