#form, input {
    display: flex;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    width: 500px;

}
#inputBtn {
    display: flex;
    height: 30px;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    border: 1px solid black;
    letter-spacing: .1px;
    font-weight: 500;
}
input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid black;
    border-right: none;
}
p {
    position: sticky;
    top: 0;
    z-index: 1;
}
.spacer2 {
    flex: .1 .5 auto;
}

