.following {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 388px;
    margin: 10px 0;
    padding: 5px; 
    border: 1px solid black;
    box-shadow: 0 1px 6px black;
}
.follower {
    display: flex;
    align-items: center;
    width: 388px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0 1px 6px black;
}
.following:hover, .follower:hover {
    cursor: pointer;
}
button {
    width: 80px;
    height: 30px;
}
.follower p {
    margin: 0 0 0 20px;
}
p {
    margin: 0;
}