.post-feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -16%;
    width: 70%;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 5.4em;
    left: 1em;
    z-index: 1;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

#post-feed {
    width: 70%;
}

.mind {
    min-width: 48.5vw;
}

mat-form-field {
    margin: auto;
    width: 100%;
}

ng-template {
    margin: auto;
    width: 70%;
}

#buttonSpreader {
    margin: .5em;
}

.form-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}