#search-card {
    display: flex;
    align-items: center;
    width: 388px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0 1px 6px black;
}
#search-card:hover {
    cursor: pointer;
}
button {
    width: 80px;
    height: 30px;
}
img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}
p {
    margin: 0 0 0 20px;
}