#search-card {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 10px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}
button {
    width: 80px;
    height: 30px;
}
img {
    max-height: 50px;
    width: auto;
}
p {
    margin: 0 0 0 20px;
}