<div class="container py-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="{{user.profilePic}}" alt="avatar"
            class="rounded-circle img-fluid" style="width: 150px;">
          <h3 class="my-3">{{user.firstName}} {{user.lastName}}</h3>
          <p class="text-muted mb-1">{{user.namePronunciation}}</p>
          <p class="text-muted mb-4">{{user.location}}</p>
          <div class="d-flex justify-content-center mb-2">
            <!-- If viewing other profile -->
            <button type="button" class="btn btn-primary" *ngIf="user.id !== loggedInUser.id" (click)="isFollowing ? unfollow() : follow()">{{isFollowing ? 'Unfollow' : 'Follow'}}</button>
            <!-- If viewing own profile -->
            <button type="button" class="btn btn-primary" (click) = "updateUser()" *ngIf="user.id === loggedInUser.id">Edit Profile</button>
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <i class="fas fa-globe fa-lg text-warning"></i>
              <p class="mb-0">Professional Profile</p>
              <a href = "{{user.professionalURL}}">{{user.professionalURL}}</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
              <i class="fas fa-globe fa-lg text-warning"></i>
              <p class="mb-0">{{user.firstName}} {{user.lastName}}'s Hobbies</p>
              <p class="mb-0" *ngIf = "hobby1 !== null">{{hobby1}}</p><br>
                <p class="mb-0 " *ngIf = "hobby2 !== null">{{hobby2}}</p><br>
                <p class="mb-0" *ngIf = "hobby3 !== null">{{hobby3}}</p>
              
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-md-8">
                <div class = "w-100" id="post-feed" *ngFor="let post of posts">
                  <app-post [post]="post" *ngIf="user.id === post.author.id"></app-post>
              </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <button [routerLink]="['/followers']" [state]="user">Followers</button>
              <p class="mb-4">Following: {{followingCount}} users</p>
              <p class="mb-4">Followers: {{followerCount}} users</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>